<% Atlantis.forEach(atlantis => { %>
	<h1><%= atlantis.atlantis %></h1> 
	
	<p id="paragraphs">Atlantis Paradise Island is a sea-themed resort on Paradise Island in the Bahamas.
	It includes an assortment of housing worked around Aquaventure, a 62-hectare (154 section of land) 
	waterscape, which incorporates new and saltwater tidal ponds, pools, natural marine surroundings, 
	water slides, and stream rides.
	</p>
	<p id="paragraphs">
	There's no better spot to gain experiences in The Bahamas than Atlantis, Paradise Island. As one of 
	the most notable inns in The Caribbean, Atlantis draws in individuals from around the globe – even 
	famous people. With its scope of housing, staggering occasions, and astonishing cluster of exercises, 
	we can perceive any reason why!
	</p>
	<p id="paragraphs">
	Atlantis is home to 21 eateries, 19 bars and parlors, 11 pools, a 20 million-gallon water park, 
	a 18-opening fairway, and perhaps the biggest gambling club in the Caribbean. This is what you have 
	to think about Atlantis to best experience everything that the hotel brings to the table.
	</p>
	<abbr title="Photo by Sophie Vinetlouis from unsplash">
	<img src="images/pic5.jpg" alt="Atlantis paradise photo by Sophie Vinetlouis from unsplash" id="atlantis">
	</abbr>
	
	<p id="paragraphs">
	Atlantis highlights five particular lodgings in which to remain, from the notable The Royal to The 
	Beach and The Coral to the recently assembled extravagance properties, The Cove and The Reef. The 
	Coral has revived as a multi-generational family escape with another entryway, new rooms, and new 
	comforts, including another pool and bespoke cabanas structured by Jeffrey Beers. As of late, The 
	Cove commended a progression of new structure joint efforts, cafés and visitor encounters, each 
	giving recognition to Bahamian conventions, culture, food, vivid plan and the sea that encompasses 
	the islands. The opening of the new Cove brings two eateries - one drove by Bahamian Chef Julie 
	Lightbourn and one by prestigious Master Chef José Andres, a recently structured poolscape and cabana 
	haven planned by Lulu DK and a spirit mixing workmanship establishment made by Antonius Roberts. 
	</p>
	<p id="paragraphs">
	Atlantis, Paradise Island is focused on the manageability, renewal, and instruction of the flourishing 
	waters and marine life in The Bahamas. The Atlantis Blue Project Foundation, the hotel's private 
	non-benefit 501(c)3 association is committed to sparing marine species and their uncommon propensities 
	all through the nation and encompassing Caribbean oceans. It achieves these objectives by financing 
	logical research, protection and instruction programs, and through network outreach endeavours. The 
	establishment gets its financing through each visitor and gathering remain at the retreat and a part 
	of the returns from the entirety of Atlantis' marine projects.
	</p>
	
	<abbr title="Photo by Fernando Jorge from unsplash">
	<img src="images/pic3.jpg" alt="Cruises photo by Fernando Jorge from unsplash" id="Cruises">
	</abbr>
	
	<h2><%= atlantis.class %></h2> 	
	
	<p id="paragraphs">
	From the second you show up at Atlantis, you'll be astounded by the broad property. The hotel is part
	of six housing, each with an impressive get-away understanding. You can pick among superior rooms at 
	the prestigious The Royal at Atlantis, contemporary spaces at The Coral at Atlantis, esteem valued 
	enhancements at The Beach at Atlantis, sea view suites at The Cove Atlantis, or private style lodging 
	at The Reef Atlantis and Harborside Resort at Atlantis. Regardless of what you pick, Atlantis makes 
	sure to be a get-away encounter to recall.
	</p>
	
	<footer>
        <p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
        </p>
	</footer> 
	<% }); %>