
	<h1>Contact Us</h1> 
	<p id="paragraphs">
	Get more value when you connect with us! Connecting with us is as easy as liking us
	and following us.
	<br> Please fill out the Form below:
	</p>
	
	<form class="subscription-form" action="/subscribe" method="post">
	<p id="paragraphs">Full Name:<br><input type="text" name="name"></P> 
	<p id="paragraphs">Email:<br><input type="text" name="email"></P>
	<p id="paragraphs">Phone:<br><input type="text" name="phone"></P>
	<p id="paragraphs">Message:<br>
	<textarea name="comments" cols="40" rows="5"></textarea></p>
	<p id="paragraphs"><input type="submit" value="Submit"></p>
	</form>

	<footer>
        <p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
        </p>
    </footer>