<h1>The Bahamas</h1> 
	<p id="paragraphs">
    The Bahamas, a country profile of the Caribbean archipelago in the northwest
    of West Indies.
    <br>
	New Providence island with Bahama's capital Nassau lies around 310 km (190 mi) 
	off the southern shoreline of Florida and north of Cuba. The coral-based archipelago
	comprises of around 700 islands and islets, and in excess of 2,000 cays (coral reefs). 
	Pretty much 30 islands are occupied. The Bahamas share maritime borders with Cuba, 
    Haiti, the United States, and Turks and Caicos Islands (UK).
    <br> 
    The Bahamas have become one of the world's foremost vacation resorts; the archipelago
	pulls in excess of five times its populace in tourists. The unique sounds of our rich 
	culture. The warm hospitality of our heritage and our colorful history.
	</p>
	<abbr title="Photo by Matheve from morguefile">
	<img src="images/pic8.jpg" alt="Bahamas photo by Matheve from morguefile" id="bahamas">
	</abbr>
	
<h2>10 Interesting Facts About The Bahamas</h2> 
	
	<ol id="olist">
		<li>The name Bahamas comes from the Spanish term "baja mar" means shallow sea.</li>
		<li>The Bahamas was the landing side of Christopher Columbus.</li>
		<li>The Bahamas is the second closest non-bordered country to the United States.</li>
		<li>The world's deepest blue hole is found in the Bahamas.</li>
		<li>The highest point in the Bahamas is only 63m (207 feet) above sea level.</li>
		<li>The Bahamas is the only country with a marching band on their currency.</li>
		<li>The Bahamas is made up of over 700 islands.</li>
		<li>The Bahamas has the biggest Boxing Day celebration.</li>
		<li>The Bahamas is one of the best places in the world for cave diving.</li>
		<li>There is no sales or income tax in the Bahamas.</li>
	</ol>
	
<footer>
    <p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
    </p>
</footer>