<h1>Thank you for submitting!</h1>
  <p id="paragraphs"> 
    Go to any page by clicking the links below! 
  </p>

  <footer>
    <p><a href="/">Home</a> | <a href="atlantis">Atlantis</a> | <a href="dolphin_cay">Dolphin</a> | <a href="about">About</a> | <a href="contact">Contact</a>
    </p>
</footer>